*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}


header{
    background-color: #1A8D5F;
}
.nav1div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.nav1div div:nth-child(1){
    font-size: 28px;
    margin-left: 20px;
    color: white;
    font-weight: 500;
}
.nav1div div:nth-child(2){
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.nav1div div:nth-child(2) a{
    text-decoration: none;
    color: white;
}
.nav1div div:nth-child(2) i{
    margin-right: 10px;
    font-size: 22px;
}
.nav1div div, i{
    color: white;
}



main{
    display: flex;
    height: 100vh;
}


.font_awesome{
    color: #7d7d7d;
    margin-right: 15px;
}
.section1{
    width: 20%;
    padding: 10px;
}
.section1divs{
    display: flex;
    padding: 15px;
}
.section1divs a{
    text-decoration: none;
}
.section1div2{
    color: #494949;
    font-weight: 500;
}
.section1divs:hover{
    border-left: 3px solid rgb(0, 129, 77);
    cursor: pointer;
    background-color: #D0E8DF;
    border-radius: 3px;
    .font_awesome{
        color: rgb(0, 129, 77);
    }
    .section1div2{
        color: rgb(0, 129, 77);
    }
}



.section2{
    width: 100%;
    background-color: #f5f5f5;
    padding: 15px;
}
.chart{
    width: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}